rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
    }
    match /withdrawals/{withdrawalId} {
      allow read, write: if true;
    }
    match /Historico_Compras/{purchaseId} {
      allow read, write: if true;
    }
    match /transactions/{transactionId} {
      allow read, write: if true;
    }
  }
}
